html {
    max-width: 500px;
    margin: auto;
}

body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 400px;
}

.start {
    background-color: blue;
    border-color: blue;
    color: aliceblue;
    width: 125px;
    height: 25px;
    font-weight: bold;
}

.score {
    margin: 5px;
    font-weight: bold;
}

span {
    color: gold;
}

.grid {
    background-color: gold;
    border-color: black;
    border-radius: 5%;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 40px;
    height: 40px;
}

.snake {
    background-color: blue;
    border-radius: 45%;
}

.head {
    border-radius: 20%;
}

.apple {
    background-color: red;
    border-radius: 50%;
}

#attr {
    color: gold;
}